body {
    background: #67ae55 no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    overflow-x: hidden;
}

.header-template {
    background-color: #F1F1F1;
    background-image: url("../../resources/images/headerPic2.jpg");
    text-align: center;
    padding: 15px;
    color: white;
    min-height: 500px;
}

@media (min-width: 768px) {
    .navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}


.navbar{
    margin-bottom: 30px;
    z-index: 101;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content{
    padding-top: 60px;

}

.dropdown-toggle{
    color:#2D66BF;
}

.dropdown-toggle:hover{   
    color:#007BFF;
}

.checkbox{
    margin-left: 15px;
}


.errorTxt{
    pading-bottom:25px;
    font-size:14px;
    font-weight:bold;

}

#monster {

    border-radius: 18px 8px;
    max-width:20%;
    max-height: 41px;
}


#img1 {
    max-width: 100%;
    height: auto;
    border-radius: 15px 15px;
    box-shadow: 10px 10px 35px black;
    z-index:2;
}

#img2 {
    max-width: 100%;
    height: auto;
    border-radius: 15px 15px;
    box-shadow: 10px 10px 35px black;
    z-index:1;
}

#first-form-container{
    background : white;
    z-index:3;
    min-height: 650px;
    border-radius: 15px 15px;
    box-shadow: 10px 10px 35px black;
}

#second-form-container{
    background : white;
    z-index:3;
    min-height: 650px;
    border-radius: 15px 15px;
    box-shadow: 10px 10px 35px black;
    margin-top:15px;
}

.padding{
    padding : 15px;
    margin : 10px;
}

footer{
    background: #212529;
}

footer div > p{
    color: white;
    padding : 15px;
    margin : 10px;
    display: inline-flex;
}



#send-button {
    background:linear-gradient(#67ae55, #578843)
}

.btn {
    font-weight:bold;
    color:white;
}

.foodInfoDetail {
    display: table;
    width: 100%;
}

.detail-cell {
    display: table-cell;
}

.detail-cell > span {
    display: block !important;
}

.limits {
    display: inline-grid;
    
}

footer {
    margin-top: 20px;
}

.smaller {
    font-size: 10px;
}


.intake-limits {
    max-width: 60px;
    margin-right: 15px;
}

.intake-limits-label {
    font-size: 15px; 
}